/*h1{
  text-align: center;
  text-decoration: underline;
  color: red;
  font-size: 40px;
  font-family: sans-serif;
  font-style: italic;
  font-weight: normal;
}*/
body{
  background-image: url(../images/triangles.jpg);
}
.inputs{
  text-align:center;
  text-decoration: underline;
  color: blue;
  border:2px solid red;
}
button{
  width: 180px;
}
img{
  width: 90px;
  float: right;
}
